<html>

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
        
    <div class="overlay"><div class="loader"></div></div>
        <div style="text-align:left;margin-bottom: 100px;">
                <div class="container-fluid">   
                    
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-6 .btn-info" style="background-color: #e9eff5;margin-right: 40px;margin-left: 25px;border-radius:5px;"  >
                            <a [routerLink]="'/health'" class="btn btn-default btn-md"><b>Health</b></a> 
                        </div>
                       
                    </div> 
                </div>
            </div>
            <div style="text-align:left;margin-bottom: 100px;">
                <div class="container-fluid">   
                    
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-6 .btn-info" style="background-color: #e9eff5;margin-right: 40px;margin-left: 25px;border-radius:5px;"  >
                            <a [routerLink]="'/login'" class="btn btn-default btn-md"><b>Login</b></a> 
                        </div>
                       
                    </div> 
                </div>
            </div>
            
<router-outlet></router-outlet>
</body>
</html>